<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lz">

    <application
        android:name=".ZMApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 主页 -->
        <activity android:name=".module.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">

        </activity>

        <!-- 闪屏页 -->
        <activity
            android:name=".module.launch.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Splash.FullScreen.AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
