<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lz">

    <application
        android:name=".ZMApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 首页 -->
        <activity
            android:name=".module.main.MainActivity"
            android:label="首页"
            android:screenOrientation="portrait">
        </activity>

        <!-- 闪屏页 -->
        <activity
            android:name=".module.launch.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Splash.FullScreen.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 绘制练习 -->
        <activity android:name=".module.practice.draw.DrawActivity"
                  android:label="绘制练习"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>